<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<img src={{asset('images/logo.jpg')}} width="10%">

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link {{ app.request.get('_route') == 'accueil.index' ? 'active' : '' }}" href="{{ path('accueil.index') }}">Accueil</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'peripheriques.index' ? 'active' : '' }}" href="{{ path('peripheriques.index') }}">Gestion Périphériques</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Gestion Utilisateurs</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{app.user.prenom}}</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action 1</a>
							<a class="dropdown-item" href="#">Action 2</a>
							<a class="dropdown-item" href="#">Action 3</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{path('security.logout') }}">Se déconnecter</a>
						</div>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'security.login' ? 'active' : '' }}" href="{{ path('security.login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ app.request.get('_route') == 'security.registration' ? 'active' : '' }}" href="{{ path('security.registration') }}">Inscription</a>

					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
